<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Account Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/account_page.css' %}">
    <script src="{% static 'js/account_page.js' %}"></script>
</head>
<body>

<header>
    <div class="header-container">
        <a class="site-name" href="http://127.0.0.1:8000/home/">Merchants Guild</a>
        <div class="search-bar">Search</div>
        <a class="cart-link">Cart</a>
        <a class="favorites-link">Favorites</a>
        <a class="account-link" href="http://127.0.0.1:8000/account/">Account</a>
    </div>
</header>

<div class="Main-Container">
    <div class="Switch-Container">
        <div class="Profile-Picture-Container">
            <img class="Profile-Picture" src="{{ user.profile_picture.url }}"
                 onerror="this.src='{% static 'images/profile_pictures/' %}{{ user.id }}/profile_picture.jpg'">
            <form method="POST" enctype="multipart/form-data"
                  id="profile-picture-form" action="{% url 'account_page' %}">
                {% csrf_token %}
                <input type="file" name="profile_picture" id="profile-picture-input" class="Profile-Picture-Input"
                       style="display:none;" onchange="submitForm()">
                <button class="Profile-Button" type="button" onclick="chooseFile()"></button>
            </form>
        </div>

        <div class="Welcome-Container">
            <h2 class="Welcome-Text">Welcome</h2>
            <h2 class="Welcome-Text">{{ user.username }}</h2>
        </div>

        <button class="Main-Button" onclick="showContainer('account-container')" data-container="account-container">
            Account Information
        </button>
        <button class="Main-Button" onclick="showContainer('personal-container')" data-container="personal-container">
            Personal Information
        </button>
        <button class="Main-Button" onclick="showContainer('sell-product-container')"
                data-container="sell-product-container">
            Sell Product
        </button>
        <button class="Main-Button" onclick="showContainer('product-information-container')"
                data-container="product-information-container">
            Product Information
        </button>

        <form method="POST" class="Logout-Form" action="{% url 'account_page' %}">
            {% csrf_token %}
            <button class="Main-Button" type="submit" name="logout">Logout</button>
        </form>
    </div>

    <div class="Information-Container" id="account-container">
        <form method="POST" action="{% url 'account_page' %}" novalidate>
            {% csrf_token %}
            <h2 class="User-Text">Account Information</h2>
            <div class="Left-Box-Container">
                <p><strong>Username:</strong></p>
                <input class="Info-Box" type="text" name="username" value="{{ user.username }}">
                {% for error in user_form.username.errors %}
                <div class="Message">
                    <p>{{ error }}</p>
                </div>
                {% endfor %}
                <br>

                <p><strong>Date Joined:</strong> {{ user.date_joined }}</p>
            </div>
            <div class="Right-Box-Container">
                <p><strong>Email:</strong></p>
                <input class="Info-Box" type="email" name="email" value="{{ user.email }}">
                {% for error in user_form.email.errors %}
                <div class="Message">
                    <p>{{ error }}</p>
                </div>
                {% endfor %}
                <br>
            </div>

            <div class="Button-Container-1">
                {% for message in messages %}
                {% if 'account' in message.tags %}
                <div class="Message">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                <button class="Info-Button" type="button"
                        onclick="showContainer('change-password-container')">Change Password
                </button>
            </div>

            <div class="Button-Container-2">
                <button class="Info-Button" type="submit" name="save_account">Save</button>
                <button class="Info-Button" type="button" onclick="window.location.reload();">Reset</button>
            </div>
        </form>
    </div>

    <div class="Information-Container" id="change-password-container">
        <form method="POST" action="{% url 'account_page' %}" id="change-password-form" novalidate>
            {% csrf_token %}
            <h2 class="User-Text">Change Password</h2>
            <div class="Middle-Box-Container">
                <p><strong>Old Password:</strong></p>
                <input class="Info-Box" type="password" id="password" name="old_password">
                {% for error in password_form.old_password.errors %}
                <div class="Message">
                    <p>{{ error }}</p>
                </div>
                {% endfor %}

                <p><strong>New Password:</strong></p>
                <input class="Info-Box" type="password" name="new_password1">
                {% for error in password_form.new_password1.errors %}
                <div class="Message">
                    <p>{{ error }}</p>
                </div>
                {% endfor %}

                <p><strong>Confirm New Password:</strong></p>
                <input class="Info-Box" type="password" name="new_password2">
                {% for error in password_form.new_password2.errors %}
                <div class="Message">
                    <p>{{ error }}</p>
                </div>
                {% endfor %}
            </div>

            <div class="Button-Container-1">
                {% for message in messages %}
                {% if 'password' in message.tags %}
                <div class="Message">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="Button-Container-2">
                <button class="Info-Button" type="submit" name="change_password">Save</button>
                <button class="Info-Button" type="button" onclick="resetPassword()">Cancel</button>
            </div>
        </form>
    </div>

    <div class="Information-Container" id="personal-container">
        <form method="POST" action="{% url 'account_page' %}" novalidate>
            {% csrf_token %}
            <h2 class="User-Text">Personal Information</h2>
            <div class="Left-Box-Container">
                <p><strong>First Name:</strong></p>
                <input class="Info-Box" type="text" name="first_name" value="{{ user.first_name }}">
                {% for error in profile_form.first_name.errors %}
                <div class="Message">
                    <p>{{ error }}</p>
                </div>
                {% endfor %}
                <br>
                <p><strong>Country:</strong></p>
                <input class="Info-Box" type="text" name="country" value="{{ user.country }}">
                {% for error in profile_form.country.errors %}
                <div class="Message">
                    <p>{{ error }}</p>
                </div>
                {% endfor %}
                <br>
            </div>
            <div class="Right-Box-Container">
                <p><strong>Last Name:</strong></p>
                <input class="Info-Box" type="text" name="last_name" value="{{ user.last_name }}">
                {% for error in profile_form.last_name.errors %}
                <div class="Message">
                    <p>{{ error }}</p>
                </div>
                {% endfor %}
                <br>

                <p><strong>Gender:</strong></p>
                <select name="gender" class="Info-Box" id="genderSelect">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="N">None</option>
                </select>
                {% for error in profile_form.gender.errors %}
                <div class="Message">
                    <p>{{ error }}</p>
                </div>
                {% endfor %}
                <br>
            </div>

            <div class="Button-Container-1">
                {% for message in messages %}
                {% if 'personal' in message.tags %}
                <div class="Message">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
            </div>


            <div class="Button-Container-2">
                <button class="Info-Button" type="submit" name="save_personal">Save</button>
                <button class="Info-Button" type="button" onclick="window.location.reload();">Reset</button>
            </div>
        </form>
    </div>

    <div class="Information-Container" id="sell-product-container">
        <h2 class="User-Text">List a product for selling</h2>
        <h2 class="User-Text">Does your product have multiple models?</h2>
        <div class="Left-Box-Container">
            <button class="single-product-button"><a href="/add_product">Single Product</a></button>
        </div>
        <div class="Right-Box-Container">
            <button class="multiple-products-button" id="reset-button">
                <a href="/add_product_family">Multiple Products</a>
            </button>
        </div>
    </div>

    <div class="Information-Container" id="product-information-container">
        <h2 class="User-Text">Product Information</h2>

        {% if user.owned_products.all %}
        <h2>Your Products</h2>
        <ul class="product-list">
            {% for product in user.owned_products.all %}
            {% if not product.family %}
            <li class="product-item">
                <img class="Product-Image" src="{{ product.images.first.image.url }}">
                <p>{{ product.name }}</p>
                <p>{{ product.stock }}</p>
                <p>{{ product.price }}</p>
            </li>
            <form method="POST" action="{% url 'account_page' %}">
                {% csrf_token %}
                <button class="edit-product" type="submit" name="edit_product" value="{{ product.id }}" >Edit</button>
                <button class="delete-product" type="submit" name="delete_product" value="{{ product.id }}">Delete Product</button>
            </form>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}

        {% if user.owned_families.all %}
        <h3>Your Product Families</h3>
        <ul class="product-family-list">
            {% for family in user.owned_families.all|dictsort:"position" %}
            {% if family.parent_family is None %}
            <!-- This is a root family, no parent family -->
            <li class="product-family-item">
                <h4>{{ family.name }}</h4>
                <form method="POST" action="{% url 'account_page' %}">
                    {% csrf_token %}
                    <button class="edit-product" type="button" name="edit_family" value="{{ family.id }}">Edit</button>
                    <button type="submit" name="delete_family" value="{{ family.id }}">Delete Family</button>
                </form>
                <!-- Show Subfamilies under this family -->
                {% if family.child_families.all %}
                <ul class="subfamily-list">
                    {% for subfamily in family.child_families.all|dictsort:"position" %}
                    <li class="subfamily-item">
                        <h5>{{ subfamily.name }}</h5>
                        <!-- Show Products under this Subfamily -->
                        {% if subfamily.products.all %}
                        <ul class="product-list">
                            {% for product in subfamily.products.all|dictsort:"position" %}
                            <li class="product-item">
                                <img class="Product-Image" src="{{ product.images.first.image.url }}"
                                     alt="{{ product.name }}">
                                <p><strong>Name:</strong> {{ product.name }}</p>
                                <p><strong>Stock:</strong> {{ product.stock }}</p>
                                <p><strong>Price:</strong> {{ product.price }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
</body>
</html>