<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Forgot Password Link</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/forgot_password_link.css' %}">
</head>
<body>

<div class="Forgot-Password-Container">


    <form method="post" action="{% url 'forgot_password_link' %}" novalidate>
        {% csrf_token %}
        <h2 class="Reset-Password-Text">Reset Password</h2>
        <p class="Message"> Please provide the email address of your account </p>
        <div>
            <input class="Email-Box" type="email" id="email" name="email" placeholder="Email"><br>
        </div>
        {% for message in messages %}
        {% if 'forgot_password_link' in message.tags %}
        <div class="Message">
            <p>{{ message }}</p>
        </div>
        {% endif %}
        {% endfor %}
        <button class="Submit-Button" type="submit" name="submit">Submit</button>
    </form>

</div>

</body>
</html>
