<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>Reset Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://regalia-dulce.s3.us-east-1.amazonaws.com/shop/icon/logo.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/forgot_password_reset.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<header>
    <a class="site-logo" href="/home/">
        <img class="site-logo" src="https://regalia-dulce.s3.us-east-1.amazonaws.com/shop/icon/logo.png">
    </a>
    <div class="first-header-container">
        <a class="main-header-link" href="/search/">
            <i class="fa-solid fa-magnifying-glass"></i></a>
        <a class="main-header-link" href="/cart/">
            <i class="fa-solid fa-cart-shopping"></i></a>
        <a class="main-header-link" href="/favorites/">
            <i class="fa-solid fa-star"></i></a>
        <a class="main-header-link" href="/account/">
            <i class="fa-solid fa-user"></i></a>
    </div>
    <div class="second-header-container">
        <a class="header-link" href="/category/Chocolate_Bars/">Chocolate Bars</a>
        <a class="header-link" href="/category/Chocolate_Boxes/">Chocolate Boxes</a>
        <a class="header-link" href="/category/Soft_Drinks/">Soft Drinks</a>
        <a class="header-link" href="/category/Seasonal_Specials/">Seasonal Specials</a>
        <a class="header-link" href="/story/">Our Story</a>
        <a class="header-link" href="/mission/">Our Mission</a>
    </div>
</header>

<main>
    <div class="main-container">
        <div class="Forgot-Password-Container">
            <h2 class="Reset-Password-Text">Reset Password</h2>

            <form method="post" action="{% url 'forgot_password_reset' uidb64=uidb64 token=token %}" autocomplete="on"
                  novalidate>
                {% csrf_token %}

                <input name="new-password" type="password" placeholder="New Password"
                       class="Password-Box" autocomplete="new-password">

                <input name="confirm-password" type="password" placeholder="Confirm Password"
                       class="Password-Box" autocomplete="new-password">

                {% for message in messages %}
                {% if 'forgot_password_reset' in message.tags %}
                <div class="Message">
                    <p>{{ message }}</p>
                </div>
                {% endif %}
                {% endfor %}

                <button type="submit" class="Submit-Button">Change Password</button>
            </form>
        </div>
    </div>
        <footer>
            <div class="footer-container">
                <a class="header-link" href="/category/Chocolate_Bars/">Chocolate Bars</a>
                <a class="header-link" href="/category/Chocolate_Boxes/">Chocolate Boxes</a>
                <a class="header-link" href="/category/Soft_Drinks/">Soft Drinks</a>
                <a class="header-link" href="/category/Seasonal_Specials/">Seasonal Specials</a>
                <a class="header-link" href="/story/">Our Story</a>
                <a class="header-link" href="/mission/">Our Mission</a>
                <div class="contact-footer">
                    <p>Contact Us</p>
                    <p>Regalia Dulce</p>
                    <p>office@regaliadulce.com</p>
                    <p>+1 248-434-5508</p>
                </div>
            </div>

            Copyright © 2025 Regalia Dulce. All rights reserved
        </footer>
</main>

</body>
</html>
