<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <link rel="icon" href="https://regalia-dulce.s3.us-east-1.amazonaws.com/shop/icon/logo.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
<header>
    <a class="site-logo" href="/home/">
        <img class="site-logo" src="https://regalia-dulce.s3.us-east-1.amazonaws.com/shop/icon/logo.png">
    </a>
    <div class="first-header-container">
        <a class="main-header-link" href="/search/">
            <i class="fa-solid fa-magnifying-glass"></i></a>
        <a class="main-header-link" href="/cart/">
            <i class="fa-solid fa-cart-shopping"></i></a>
        <a class="main-header-link" href="/favorites/">
            <i class="fa-solid fa-star"></i></a>
        <a class="main-header-link" href="/account/">
            <i class="fa-solid fa-user"></i></a>
    </div>
    <div class="second-header-container">
        <a class="header-link" href="/category/Chocolate_Bars/">Chocolate Bars</a>
        <a class="header-link" href="/category/Chocolate_Boxes/">Chocolate Boxes</a>
        <a class="header-link" href="/category/Soft_Drinks/">Soft Drinks</a>
        <a class="header-link" href="/category/Seasonal_Specials/">Seasonal Specials</a>
        <a class="header-link" href="/story/">Our Story</a>
        <a class="header-link" href="/mission/">Our Mission</a>
    </div>
</header>
<main>
    <div class="main-container">
        <div class="Sign-Up-Container">
            <h2 class="Sign-Up-Text">Sign Up</h2>
            <form method="post" action="{% url 'signup' %}" autocomplete="on" novalidate>

                {% csrf_token %}

                <input name="username" type="text" placeholder="Username"
                       class="Name-Box" autocomplete="username">
                {% for error in form.username.errors %}
                <div class="Message">
                    <p>{{ error }}</p>
                </div>
                {% endfor %}
                <input name="email" type="email" placeholder="Email"
                       class="Email-Box" autocomplete="email">
                {% for error in form.email.errors %}
                <div class="Message">
                    <p>{{ error }}</p>
                </div>
                {% endfor %}
                <input name="password1" type="password" placeholder="Password"
                       class="Password-Box" autocomplete="new-password">
                {% for error in form.password1.errors %}
                <div class="Message">
                    <p>{{ error }}</p>
                </div>
                {% endfor %}
                <input name="password2" type="password" placeholder="Verify Password"
                       class="Verify-Password-Box" autocomplete="new-password">
                {% for error in form.password2.errors %}
                <div class="Message">
                    <p>{{ error }}</p>
                </div>
                {% endfor %}
                <a class="Sign-In-Link" href="/signin/">Already have an account?</a>

                <button type="submit" class="Sign-Up-Button">Sign Up</button>
            </form>
        </div>

    </div>

        <footer>
            <div class="footer-container">
                <a class="header-link" href="/category/Chocolate_Bars/">Chocolate Bars</a>
                <a class="header-link" href="/category/Chocolate_Boxes/">Chocolate Boxes</a>
                <a class="header-link" href="/category/Soft_Drinks/">Soft Drinks</a>
                <a class="header-link" href="/category/Seasonal_Specials/">Seasonal Specials</a>
                <a class="header-link" href="/story/">Our Story</a>
                <a class="header-link" href="/mission/">Our Mission</a>
                <div class="contact-footer">
                    <p>Contact Us</p>
                    <p>Regalia Dulce</p>
                    <p>office@regaliadulce.com</p>
                    <p>+1 248-434-5508</p>
                </div>
            </div>

            Copyright © 2025 Regalia Dulce. All rights reserved
        </footer>
</main>

</body>

</html>
