<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'verify_code.css' %}">
</head>
<body>

 <div class="Verify-Code-Container">


     <h2 class="Verify-Code-Text"> Enter Verification Code</h2>

    <form method="post">
        {% csrf_token %}

        <input class="Verify-Code-Box" type="text" id="code" name="code"><br>
        <button class="Resend-Code-Button">Resend Verification Code</button>

         {% for message in messages %}
      <div class="error-message">
        <p>{{ message }}</p>
      </div>
    {% endfor %}

        <button class="Verify-Code-Button" type="submit">Submit</button>
    </form>

 </div>
</body>
</html>
