body {
            background-color: #CE563C;
            background-image:url("/static/background.gif");
            background-attachment: fixed;
            background-size: cover;
}

.error-message {
            color: #CE563C;
            font-size: 20px;
}


.Container {
            margin:auto;
            border: 1px ;
            padding: 20px;
            width: 650px;
            background-color: #050505;
        }

.Welcome-Text {
            text-align:center;
            font-size:50px;
            margin: 10px;
            color: #CE563C ;
        }
.User-Text {
            text-align:center;
            font-size:40px;
            color: #CE563C ;
        }
::Placeholder{
            color: #050505 ;
            opacity: 10
        }

.Tab-Content {
            font-size:25px;
            Text-align: center;
            color: #CE563C;
            margin: 20px 0px;
            display: block;
            border: 1px solid #050505;
            outline-style: outset;
            width: 95%;
            padding: 10px;
            font-family:'verdana'

        }

.Sign-Up-Link {
            font-size: 20px;
            color: #CE563C ;
            font-family:'verdana';
            text-decoration: none;
            margin: 50px 140px;
        }

.Sign-Up-Link:hover {
            color:#ffcc00;
            transition: 0.5s;
        }

.Profile-Picture-Container {
    position: relative;
    margin: 0px 35%;
    width: 200px;
    height: 200px;
}

.profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}

.Profile-Button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
}
