<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://regalia-dulce.s3.us-east-1.amazonaws.com/shop/icon/logo.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
    <script src="{% static 'js/category.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<header>
    <a class="site-logo" href="/home/">
        <img class="site-logo" src="https://regalia-dulce.s3.us-east-1.amazonaws.com/shop/icon/logo.png">
    </a>
    <div class="first-header-container">
        <a class="main-header-link" href="/search/">
            <i class="fa-solid fa-magnifying-glass"></i></a>
        <a class="main-header-link" href="/cart/">
            <i class="fa-solid fa-cart-shopping"></i></a>
        <a class="main-header-link" href="/favorites/">
            <i class="fa-solid fa-star"></i></a>
        <a class="main-header-link" href="/account/">
            <i class="fa-solid fa-user"></i></a>
    </div>
    <div class="second-header-container">
        <a class="header-link" href="/category/Chocolate_Bars/">Chocolate Bars</a>
        <a class="header-link" href="/category/Chocolate_Boxes/">Chocolate Boxes</a>
        <a class="header-link" href="/category/Soft_Drinks/">Soft Drinks</a>
        <a class="header-link" href="/category/Seasonal_Specials/">Seasonal Specials</a>
        <a class="header-link" href="/story/">Our Story</a>
        <a class="header-link" href="/mission/">Our Mission</a>
    </div>
</header>

<main>
    <form method="post">
        {% csrf_token %}
        <section class="category-section">

            <h1 class="category-name">Our {{ category_name }}</h1>

            <div class="product-container">
                {% if products %}
                {% for product in products %}
                <div class="product-card">
                    <div class="product-image-container">
                        <a class="product-link" href="{% url 'product' product.id %}">
                            <img class="product-image" src="{{ product.images.first.image.url }}">
                            {% if user.is_authenticated %}
                            {% if product.id in user_favorite_product_ids %}
                            <button type="button" class="favorite" data-action="favorite"
                                    data-product-id="{{ product.id }}">
                                <i class="fa-solid fa-star"></i>
                            </button>
                            {% else %}
                            <button type="button" class="favorite" data-action="favorite"
                                    data-product-id="{{ product.id }}">
                                <i class="fa-regular fa-star"></i>
                            </button>
                            {% endif %}
                            {% else %}
                            <button type="button" class="favorite-link"
                                    onclick="window.location.href='{% url 'signin' %}'">
                                <i class="fa-regular fa-star"></i>
                            </button>
                            {% endif %}
                        </a>
                    </div>
                    <h1 class="product-title">{{ product.name }}</h1>
                    <h2 class="product-description">{{ product.description|safe }}</h2>
                    <div class="bottom-bar">
                        <div class="price">
                            {% if product.offer_price != product.price %}
                            <div class="product-price-cut">${{ product.price }}</div>
                            <div class="product-price-offer">${{ product.offer_price }}</div>
                            {% else %}
                            <div class="product-price">${{ product.price }}</div>
                            {% endif %}
                        </div>

                        {% if user.is_authenticated %}
                        {% if product.id in cart_product_ids %}
                        <button type="button" class="cart" data-action="cart" data-product-id="{{ product.id }}">
                            Add to cart<i class="fa-solid fa-cart-shopping"></i>
                        </button>
                        {% else %}
                        <button type="button" class="cart" data-action="cart" data-product-id="{{ product.id }}">
                            Add to cart<i class="fa-solid fa-cart-plus"></i>
                        </button>
                        {% endif %}
                        {% else %}
                        <button type="button" class="cart-link" onclick="window.location.href='{% url 'signin' %}'">
                            Add to cart<i class="fa-solid fa-cart-plus"></i>
                        </button>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h1 class="category-name">No products in this category.</h1>
                {% endif %}
            </div>
        </section>

        <footer>
            <div class="footer-container">
                <a class="header-link" href="/category/Chocolate_Bars/">Chocolate Bars</a>
                <a class="header-link" href="/category/Chocolate_Boxes/">Chocolate Boxes</a>
                <a class="header-link" href="/category/Soft_Drinks/">Soft Drinks</a>
                <a class="header-link" href="/category/Seasonal_Specials/">Seasonal Specials</a>
                <a class="header-link" href="/story/">Our Story</a>
                <a class="header-link" href="/mission/">Our Mission</a>
                <div class="contact-footer">
                    <p>Contact Us</p>
                    <p>Regalia Dulce</p>
                    <p>office@regaliadulce.com</p>
                    <p>+1 248-434-5508</p>
                </div>
            </div>

            Copyright © 2025 Regalia Dulce. All rights reserved
        </footer>
    </form>
</main>

</body>
</html>