<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://regalia-dulce.s3.us-east-1.amazonaws.com/shop/icon/logo.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/mission.css' %}">
    <script src="{% static 'js/mission.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<header>
    <a class="site-logo" href="/home/">
        <img class="site-logo" src="https://regalia-dulce.s3.us-east-1.amazonaws.com/shop/icon/logo.png">
    </a>
    <div class="first-header-container">
        <a class="main-header-link" href="/search/">
            <i class="fa-solid fa-magnifying-glass"></i></a>
        <a class="main-header-link" href="/cart/">
            <i class="fa-solid fa-cart-shopping"></i></a>
        <a class="main-header-link" href="/favorites/">
            <i class="fa-solid fa-star"></i></a>
        <a class="main-header-link" href="/account/">
            <i class="fa-solid fa-user"></i></a>
    </div>
    <div class="second-header-container">
        <a class="header-link" href="/category/Chocolate_Bars/">Chocolate Bars</a>
        <a class="header-link" href="/category/Chocolate_Boxes/">Chocolate Boxes</a>
        <a class="header-link" href="/category/Soft_Drinks/">Soft Drinks</a>
        <a class="header-link" href="/category/Seasonal_Specials/">Seasonal Specials</a>
        <a class="header-link" href="/story/">Our Story</a>
        <a class="header-link" href="/mission/">Our Mission</a>
    </div>
</header>

<main>

    <h1 class="title">Our Mission</h1>

    <div class="div-1">
        <div class="div-1-1">
            <div class="presentation-writing">
                <h1 class="presentation-title">Honoring the Legacy</h1>
                <h2 class="presentation-text">To preserve and celebrate the rich heritage of Jacques and Elodie Dubois
                    by meticulously crafting chocolates using their time-honored recipes and techniques.</h2>
            </div>
        </div>
        <div class="div-1-2">
            <img src="https://regalia-dulce.s3.us-east-1.amazonaws.com/shop/banner/legacy.jpeg">
        </div>
    </div>

    <div class="div-2">
        <div class="div-2-1">
            <img src="https://regalia-dulce.s3.us-east-1.amazonaws.com/shop/banner/crafting.jpeg">
        </div>

        <div class="div-2-2">
            <div class="presentation-writing">
                <h1 class="presentation-title">Crafting Excellence</h1>
                <h2 class="presentation-text">To create artisanal chocolates of superior quality, reflecting our
                    unwavering commitment to the art of chocolate making and delivering a truly exceptional taste
                    experience.</h2>
            </div>
        </div>
    </div>

    <div class="div-3">
        <div class="div-3-1">
            <div class="presentation-writing">
                <h1 class="presentation-title">Delighting Generations</h1>
                <h2 class="presentation-text">To share the sweetness of our tradition with both our cherished local
                    community and new generations of customers, ensuring a warm and inviting atmosphere that embodies
                    the enduring spirit of Regalia Dulce.</h2>
            </div>
        </div>

        <div class="div-3-2">
            <img src="https://regalia-dulce.s3.us-east-1.amazonaws.com/shop/banner/generation.jpeg">
        </div>
    </div>

        <footer>
            <div class="footer-container">
                <a class="header-link" href="/category/Chocolate_Bars/">Chocolate Bars</a>
                <a class="header-link" href="/category/Chocolate_Boxes/">Chocolate Boxes</a>
                <a class="header-link" href="/category/Soft_Drinks/">Soft Drinks</a>
                <a class="header-link" href="/category/Seasonal_Specials/">Seasonal Specials</a>
                <a class="header-link" href="/story/">Our Story</a>
                <a class="header-link" href="/mission/">Our Mission</a>
                <div class="contact-footer">
                    <p>Contact Us</p>
                    <p>Regalia Dulce</p>
                    <p>office@regaliadulce.com</p>
                    <p>+1 248-434-5508</p>
                </div>
            </div>

            Copyright © 2025 Regalia Dulce. All rights reserved
        </footer>
</main>

</body>
</html>