<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://regalia-dulce.s3.us-east-1.amazonaws.com/shop/icon/logo.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/payment_success.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<header>
    <a class="site-logo" href="http://127.0.0.1:8000/home/">
        <img class="site-logo" src="https://regalia-dulce.s3.us-east-1.amazonaws.com/shop/icon/logo.png">
    </a>
    <div class="first-header-container">
        <a class="main-header-link" href="http://127.0.0.1:8000/search/">
            <i class="fa-solid fa-magnifying-glass"></i></a>
        <a class="main-header-link" href="http://127.0.0.1:8000/cart/">
            <i class="fa-solid fa-cart-shopping"></i></a>
        <a class="main-header-link" href="http://127.0.0.1:8000/favorites/">
            <i class="fa-solid fa-star"></i></a>
        <a class="main-header-link" href="http://127.0.0.1:8000/account/">
            <i class="fa-solid fa-user"></i></a>
    </div>
    <div class="second-header-container">
        <a class="header-link" href="http://127.0.0.1:8000/category/Chocolate_Bars/">Chocolate Bars</a>
        <a class="header-link" href="http://127.0.0.1:8000/category/Chocolate_Boxes/">Chocolate Boxes</a>
        <a class="header-link" href="http://127.0.0.1:8000/category/Soft_Drinks/">Soft Drinks</a>
        <a class="header-link" href="http://127.0.0.1:8000/category/Seasonal_Specials/">Seasonal Specials</a>
        <a class="header-link" href="http://127.0.0.1:8000/story/">Our Story</a>
        <a class="header-link" href="http://127.0.0.1:8000/mission/">Our Mission</a>
    </div>
</header>


<main>
    <form method="post">
        <div class="main">
            <section class="success-section">
                <h1 class="success-title">Payment Successful</h1>
                <a class="success-text" href="http://127.0.0.1:8000/home/">Finish</a>
            </section>
        </div>
    </form>

        <footer>
            <div class="footer-container">
                <a class="header-link" href="http://127.0.0.1:8000/category/Chocolate_Bars/">Chocolate Bars</a>
                <a class="header-link" href="http://127.0.0.1:8000/category/Chocolate_Boxes/">Chocolate Boxes</a>
                <a class="header-link" href="http://127.0.0.1:8000/category/Soft_Drinks/">Soft Drinks</a>
                <a class="header-link" href="http://127.0.0.1:8000/category/Seasonal_Specials/">Seasonal Specials</a>
                <a class="header-link" href="http://127.0.0.1:8000/story/">Our Story</a>
                <a class="header-link" href="http://127.0.0.1:8000/mission/">Our Mission</a>
                <div class="contact-footer">
                    <p>Contact Us</p>
                    <p>Regalia Dulce</p>
                    <p>office@regaliadulce.com</p>
                    <p>+1 248-434-5508</p>
                </div>
            </div>

            Copyright © 2025 Regalia Dulce. All rights reserved
        </footer>
</main>


</body>
</html>