<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://regalia-dulce.s3.us-east-1.amazonaws.com/shop/icon/logo.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <script src="{% static 'js/search.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<header>
    <a class="site-logo" href="http://127.0.0.1:8000/home/">
        <img class="site-logo" src="https://regalia-dulce.s3.us-east-1.amazonaws.com/shop/icon/logo.png">
    </a>
    <div class="first-header-container">
        <a class="main-header-link" href="http://127.0.0.1:8000/search/">
            <i class="fa-solid fa-magnifying-glass"></i></a>
        <a class="main-header-link" href="http://127.0.0.1:8000/cart/">
            <i class="fa-solid fa-cart-shopping"></i></a>
        <a class="main-header-link" href="http://127.0.0.1:8000/favorites/">
            <i class="fa-solid fa-star"></i></a>
        <a class="main-header-link" href="http://127.0.0.1:8000/account/">
            <i class="fa-solid fa-user"></i></a>
    </div>
    <div class="second-header-container">
        <a class="header-link" href="http://127.0.0.1:8000/category/Chocolate_Bars/">Chocolate Bars</a>
        <a class="header-link" href="http://127.0.0.1:8000/category/Chocolate_Boxes/">Chocolate Boxes</a>
        <a class="header-link" href="http://127.0.0.1:8000/category/Soft_Drinks/">Soft Drinks</a>
        <a class="header-link" href="http://127.0.0.1:8000/category/Seasonal_Specials/">Seasonal Specials</a>
        <a class="header-link" href="http://127.0.0.1:8000/story/">Our Story</a>
        <a class="header-link" href="http://127.0.0.1:8000/mission/">Our Mission</a>
    </div>
</header>

<main>
    <form method="post">
        {% csrf_token %}

        <section class="search-section">
            <div class="title-search">
                <h1>Search</h1>
            </div>
            <div class="search-container">
                <input class="search-bar" type="text" name="search_query" id="search-bar">

                <button type="button" data-action="search" class="search-button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </section>


        <section class="results-section">
            <div class="results-container" id="results-container">
                {% for product in products %}
                <div class="product-container">
                    <div class="product-image-container">
                        <a class="product-image-link" href="{% url 'product' product.id %}">
                            {% if product.images.first %}
                            <img class="product-image" src="{{ product.images.first.image.url }}">
                            {% endif %}
                        </a>
                    </div>

                    <div class="product-details-container">
                            <a class="product-link" href="{% url 'product' product.id %}">
                                <h1 class="product-title">{{ product.name }}</h1>
                            </a>
                        <h2 class="product-description">{{ product.description|safe }}</h2>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <footer>
            <div class="footer-container">
                <a class="header-link" href="http://127.0.0.1:8000/category/Chocolate_Bars/">Chocolate Bars</a>
                <a class="header-link" href="http://127.0.0.1:8000/category/Chocolate_Boxes/">Chocolate Boxes</a>
                <a class="header-link" href="http://127.0.0.1:8000/category/Soft_Drinks/">Soft Drinks</a>
                <a class="header-link" href="http://127.0.0.1:8000/category/Seasonal_Specials/">Seasonal Specials</a>
                <a class="header-link" href="http://127.0.0.1:8000/story/">Our Story</a>
                <a class="header-link" href="http://127.0.0.1:8000/mission/">Our Mission</a>
                <div class="contact-footer">
                    <p>Contact Us</p>
                    <p>Regalia Dulce</p>
                    <p>office@regaliadulce.com</p>
                    <p>+1 248-434-5508</p>
                </div>
            </div>

            Copyright © 2025 Regalia Dulce. All rights reserved
        </footer>
    </form>
</main>

</body>
</html>