body {
    min-width:100vw;
    min-height: 100vh;
    background: #0d0d0d;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    width: 15vw;
    height: 100vh;
    position: fixed;
    background: #0d0d0d;
    color: peru;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    border: 1px solid peru;
}

.site-logo {
    width: 200px;
    height: 200px;
    font-weight: bold;
    color: peru;
    text-decoration: none;
    position: relative;
    animation: slideFromTop 2s ease-out forwards;
}

@keyframes slideFromTop {
    0% {
        top: -200px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

.first-header-container {
    width: 230px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid peru;
    gap: 20px;
}

.second-header-container{
    width: 230px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.main-header-link, .header-link {
    color: peru;
    text-decoration: unset;
}

.main-header-link{
    font-size: 35px;
}
.header-link{
    font-size: 30px;
    font-weight: bold;
}

.Main-Container {
    height: 600px;
    margin-top: 5vh;
    margin-left: 35%;
    display: flex;
    align-items: center;
}

.Switch-Container {
    height: 600px;
    width: 200px;
    border: 1px solid peru;
    background-color: #0d0d0d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Profile-Picture-Container {
    background: peru;
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Profile-Picture {
    width: 70%;
    height: 100%;
    border-radius: 50%;
    display: block;
}

.Profile-Button {
    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.Welcome-Container {
    text-align: center;
    position: static;
    height: 80px;
    width: 100%;
    margin: -1px;
    background: peru;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Welcome-Text {
    text-align: center;
    color: #0d0d0d;
    margin: 10px 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

.Main-Button, .Main-Button-link {
    position: relative;
    margin-top: 10%;
    padding: 10px 20px;
    background: peru;
    height: 60px;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0d0d0d;
    text-decoration: unset;
}
.Main-Button-link{
    width:80%;
    height: 40px;
}
.Main-Button:hover , .Main-Button-link:hover{
    border: 1px solid peru;
    background-color: #0d0d0d;
    color: peru;
    transition: 0.5s;
}
.Main-Button.active, .Main-Button-link.active {
    background-color: #0d0d0d;
    color: peru;
}

.Logout-Form {
    width: 100%;
}

.Information-Container {
    height: 600px;
    width: 600px;
    overflow: auto;
    position: relative;
    color: peru;
    background-color: #0d0d0d;
    border: 1px solid peru;
}

.Information-Container.show {
    display: block;
}

.User-Text {
    text-align: center;
    margin: 0%;
    font-size: 40px;
}

.Left-Box-Container, .Right-Box-Container {
    position: absolute;
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Right-Box-Container {
    right: 0;
}

.Middle-Box-Container {
    position: absolute;
    margin: 0% 20%;
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Info-Box {
    font-size: 25px;
    text-align: center;
    display: block;
    width: 80%;
    padding: 10px;
    border: 1px solid peru;
    background-color: #0d0d0d;
    font-family: 'verdana';
    color: peru;
}

.Button-Container-1 {
    color: peru;
    font-size: 14px;
    position: absolute;
    Bottom:10%;
    width: 100%;
    text-align: center;
}

.Button-Container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1%;
    width: 100%;
}

.Info-Button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #0d0d0d;
    color: peru;
    border: 1px solid peru;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
}

li {
    list-style-type: disc;
    font-size: 20px;
}
ul {
    list-style-type: disc;
    font-size: 20px;
}

.product-family-item h4, .subfamily-item h5 {
    margin: 0;
}

.product-item {
    display: flex;
    width: 100%;
    align-items: center;
    grid-template-columns: auto;
    column-gap: 10px;
}

.product-item p {
    border-right: 1px solid peru;
    padding-right: 10px;
    font-size: 20px;
}



.Product-Image{
    width: 50px;
    height: 50px;
    border-right: 1px solid peru;
    padding-right: 10px;
}

.Info-Button:hover {
    background-color: #0d0d0d;
    color: peru;
    transition: 0.5s;
}

.Message {
    color: peru;
    font-size: 20px;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #0d0d0d inset;
    -webkit-text-fill-color: peru;
}

::-webkit-scrollbar {
    background-color: #0d0d0d;
}
::-webkit-scrollbar-thumb {
    background: #0d0d0d;
    border: 3px solid peru;
}

.footer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contact-footer{
    display:flex;
    flex-direction: column;
}
.contact-footer p{
    padding: 0px;
    margin: 5px;
    font-weight: bold;
    font-size: 20px;
}
footer {
    width:82.5vw;
    bottom: 0px;
    margin-left: 15.1vw;
    position: fixed;
    padding: 20px;
    margin-bottom: 1px;
    text-align: center;
    border: 1px solid peru;
    background-color: #0d0d0d;
    color: peru;
}
