body {
  background-color: #050505;
  background-image:url("/static/images/");
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.error-message {
    color: #CE563C;
    font-size: 20px;
}


.Sign-In-Container {
            position: fixed;
            border: 1px solid #CE563C;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            width: 550px;
            height: 800px;
            background-color: #050505;
        }

.Sign-In-Text {
            text-align:center;
            font-size:60px;
            color: #CE563C ;
        }

::Placeholder{
        color: #050505 ;
        opacity: 10
        }

.Username-Box {
            font-size:25px;
            margin: 20px 0px;
            display: block;
            width: 95%;
            padding: 10px;
            border: 1px solid #050505;
            outline-style: outset;
            outline-color: #CE563C;
            background-color:#CE563C;
            font-family:'verdana'

        }

.Password-Box {
            font-size:25px;
            margin: 20px 0px;
            display: block;
            width: 95%;
            padding: 10px;
            border: 1px solid #050505;
            outline-style: outset;
            outline-color: #CE563C ;
            background-color:#CE563C ;
            font-family:'verdana'
        }

.Verify-Password-Box {
            font-size:25px;
            margin: 20px 0px;
            display: block;
            width: 95%;
            padding: 10px;
            border: 1px solid #050505;
            outline-style: outset;
            outline-color: #CE563C ;
            background-color:#CE563C ;
            font-family:'verdana'
        }

.Email-Box {
            font-size:25px;
            margin: 20px 0px;
            display: block;
            width: 95%;
            padding: 10px;
            border: 1px solid #050505;
            outline-style: outset;
            outline-color: #CE563C ;
            background-color:#CE563C ;
            font-family:'verdana'
        }

.Sign-Up-Link {
            font-size: 20px;
            color: #CE563C ;
            font-family:'verdana';
            text-decoration: none;
            margin: 50px 140px;
        }

.Sign-Up-Link:hover {
            color:#ffcc00;
            transition: 0.5s;
        }

.Sign-In-Button {
            background-color: #CE563C;
            font-size:30px;
            color: #050505;
            margin: 50px 140px;
            display: inline-block;
            padding: 20px 80px;
            border: 1px solid #050505;
            outline-style: outset;
            outline-color: #CE563C ;
            cursor: pointer;

        }

.Sign-In-Button:hover {
            background-color: #050505;
            color: #CE563C;
            transition: 0.5s;
        }