body {
  background-color: #050505;
  background-image:url("/static/images/");
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.error-message {
    color: #CE563C;
    font-size: 25px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.Verify-Code-Container {
            position: fixed;
            border: 1px solid #CE563C;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            width: auto;
            min-height: 400px;
            height: auto;
            min-height: 400px;
            background-color: #050505;
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

.Verify-Code-Text {
            text-align:center;
            font-size:50px;
            color: #CE563C ;
        }

.Verify-Code-Box {
            font-size:25px;
            text-align:center;
            margin: 20px auto;
            display: block;
            width: auto;
            padding: 10px;
            border: 1px solid #050505;
            outline-style: outset;
            outline-color: #CE563C;
            background-color:#CE563C;
            font-family:'verdana'

        }

.Verify-Code-Button {
            background-color: #CE563C;
            font-size:40px;
            color: #050505;
            margin: 50px auto;
            display: inline-block;
            padding: 20px 80px;
            border: 1px solid #050505;
            outline-style: outset;
            outline-color: #CE563C ;
            cursor: pointer;

        }
.Verify-Code-Button:hover {
            background-color: #050505;
            color: #CE563C;
            transition: 0.5s;
        }

.Resend-Code-Button {
            background: none;
            border: none;
            padding:0px 30px;
            color: #CE563C;
            display: inline-block;
            cursor: pointer;
            font-size: 20px;
        }

.Resend-Code-Button:hover {
            color: #ce3c3c;
        }