body {
    background: #050505;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
}

.Message {
    margin-left: 10px;
    color: #CE563C;
    font-size: 20px;
}

.text{
    color: #CE563C ;
    font-family:'verdana';
    text-decoration: none;
    font-size: 30px;
    margin-left:10px;
}

header {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #050505;
    color: #CE563C;
}

.header-container {
    display: flex;
    align-items: center;
}

.site-name {
    font-weight: bold;
    color: #CE563C ;
    font-family:'verdana';
    text-decoration: none;
    font-size: 30px;
}

.search-bar {
    flex: 1;
    margin-left: 20px;
    padding: 5px;
    border: 1px solid #CE563C;
}

.header-right {
    display: flex;
    align-items: center;
}

.favorites-link, .cart-link, .account-link {
    font-size: 20px;
    color: #CE563C ;
    font-family:'verdana';
    text-decoration: none;
    display: block;
    margin-left: 10px;
}

main {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    flex-direction: row;
}

form{
    width: 50%;
    height: 100%;
}

.section1{
    width: 50%;
    height: 100%;
}

.operation-buttons{
    display: flex;
}

.add-family, .add-product, .create-product-family , .delete-button {
    display: block;
    width: 100px;
    height: 50px;
    margin: 10px;
    padding: 5px;
    color: #050505;
    background-color: #CE563C;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: circle; /* Or other marker types: circle, square, none */
}

li::marker {
    color: #CE563C; /* Change the marker color */
    font-size: 30px;
}

.family, .product {
    display: block;
    margin: 5px 0;
    padding: 5px;
    border: none;
    font-size: 20px;
    color: #CE563C;
    background-color: #050505;
    cursor: pointer;
    text-align: left;
}

.family.selected, .product.selected {
    border-left: 1px solid #CE563C;
    list-style-type: none;
}

.section2{
    width: 50%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.text, .category-text, .name-text, .ship-text, .price-stock-text, .description-text, .specifications-text, .image-text{
    color: #CE563C ;
    font-family:'verdana';
    text-decoration: none;
    font-size: 30px;
    border: 1px solid #CE563C ;
    padding: 10px;
    margin: 0px;
}


.Info-Box, .category-box, .name-box, .ship-box, .price-stock-box, .Textarea-Box, .add-specifications, .create-product, .specifications, .column, .delete-specifications, .add-image, .image-preview{
    font-size: 25px;
    display: block;
    padding: 10px;
    border: 1px solid #CE563C ;
    outline-color: #CE563C;
    background-color: #050505;
    font-family: 'verdana';
    color: #CE563C;
}

.category{
    display: grid;
    grid-template-columns: minmax(100px, 575px);
    grid-template-rows: minmax(50px, 100px) minmax(300px, 300px);
    grid-template-rows: auto;
    margin-top: 10px;
}
.category-text{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.category-box{
    width: 571px;
    height: 50px;
}

.name{
    display: grid;
    grid-template-columns: minmax(100px, 575px);
    grid-template-rows: minmax(50px, 100px) minmax(300px, 300px);
    grid-template-rows: auto;
    margin-top: 10px;
}
.name-text{
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.name-box{
    width: 550px;
    height: 50px;
}

.ship{
    display: grid;
    grid-template-columns: minmax(100px, 575px);
    grid-template-rows: minmax(50px, 100px) minmax(300px, 300px);
    grid-template-rows: auto;
    margin-top: 10px;
}
.ship-text{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.ship-box{
    width: 550px;
    height: 50px;
}

.price-stock{
    display: grid;
    grid-template-columns: minmax(100px, 300px) minmax(100px, 275px);
    grid-template-rows: auto;
    margin-top: 10px;
}
.price-stock-text{
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.price-stock-box{
    width: 250px;
    height: 50px;
    margin-top: 10px;
    text-align: center;
}

.description{
    display: grid;
    grid-template-columns: minmax(100px, 575px);
    grid-template-rows: minmax(50px, 70px) minmax(200px, 221px);
    margin-top: 10px;
}
.description-text{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.Textarea-Box{
    width: 550px;
    height: 200px;
    resize: none;
    overflow-y: scroll;
    scrollbar-width: none;
}

.specifications{
    display: grid;
    grid-template-columns: minmax(100px, 403px) minmax(100px, 172px);
    grid-template-rows: minmax(50px, auto);
    margin-top: 10px;
    padding: 0px;
}
.specifications-text{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.add-specifications{
    width: 172px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items:center;
}
.specification-row{
    display: flex;
    align-items:center
}
.column{
    width: 200px;
    height: 100%;
    margin: 10px;
    margin-left: 20px;
}
.delete-specifications{
    width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
}

.image{
    display: grid;
    grid-template-columns: minmax(100px, 400px) minmax(100px, 175px);
    grid-template-rows: minmax(50px, auto);
    margin-top: 10px;
}
.image-text{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.add-image{
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items:center;
}
input[type="file"] {
    display: none;
}
.image-preview{
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    height: 200px;
}
.preview-image-container {
    display: inline-block;
    margin-right: 10px;
    position: relative;
}
.delete-preview, .move-left, .move-right {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(206, 86, 60, 1); /* Red with transparency */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items:center;
}
.move-left {
    top: 20%;
    left: 0px;
    font-size: 20px;

}
.move-right {
    top: 20%;
    right: 0px;
    font-size: 20px;
}

.create-product{
    cursor: pointer;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #050505;
    color: #CE563C;
}