body {
    background: #0d0d0d;
    margin: 0;
    padding: 0;
    display: flex;
}

header {
    width: 15vw;
    height: 100vh;
    position: fixed;
    background: #0d0d0d;
    color: peru;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    border: 1px solid peru;
}

.site-logo {
    width: 200px;
    height: 200px;
    font-weight: bold;
    color: peru;
    text-decoration: none;
    position: relative;
    animation: slideFromTop 2s ease-out forwards;
}

@keyframes slideFromTop {
    0% {
        top: -200px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

.first-header-container {
    width: 230px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid peru;
    gap: 20px;
}

.second-header-container{
    width: 230px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.main-header-link, .header-link {
    color: peru;
    text-decoration: unset;
}

.main-header-link{
    font-size: 35px;
}
.header-link{
    font-size: 30px;
    font-weight: bold;
}
main {
    width: 100%;
    min-height: 100vh;
    margin-left: 15vw;
}

form{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text, .category-text, .name-text, .ship-text, .price-stock-text, .description-text, .ingredients-text, .nutritional-values-text, .image-text {
    color: peru;
    font-family: 'verdana';
    text-decoration: none;
    font-size: 30px;
    border: 1px solid peru;
    padding: 10px;
    margin: 0px;
}

.Info-Box, .category-box, .name-box, .ship-box, .price-stock-box, .nutritional-values, .add-nutritional-values, .delete-nutritional-values, .create-product, .column, .add-image, .image-preview {
    font-size: 25px;
    display: block;
    padding: 10px;
    border: 1px solid peru;
    outline-color: peru;
    background-color: #0d0d0d;
    font-family: 'verdana';
    color: peru;
}

.category{
    display: grid;
    grid-template-columns: minmax(100px, 575px);
    grid-template-rows: minmax(50px, 100px) minmax(300px, 300px);
    grid-template-rows: auto;
    margin-top: 10px;
}
.category-text{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.category-box{
    width: 571px;
    height: 50px;
}

.name{
    display: grid;
    grid-template-columns: minmax(100px, 575px);
    grid-template-rows: minmax(50px, 100px) minmax(300px, 300px);
    grid-template-rows: auto;
    margin-top: 10px;
}
.name-text{
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.name-box{
    width: 550px;
    height: 50px;
}
.ship{
    display: grid;
    grid-template-columns: minmax(100px, 575px);
    grid-template-rows: minmax(50px, 100px) minmax(300px, 300px);
    grid-template-rows: auto;
    margin-top: 10px;
}
.ship-text{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.ship-box{
    width: 550px;
    height: 50px;
}

.price-stock{
    display: grid;
    grid-template-columns: minmax(100px, 300px) minmax(100px, 275px);
    grid-template-rows: auto;
    margin-top: 10px;
}
.price-stock-text{
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.price-stock-box{
    width: 250px;
    height: 50px;
    margin-top: 10px;
    text-align: center;
}
.image, .nutritional-values {
    display: grid;
    width: 575px;
    height: 350px;
    grid-template-columns: minmax(100px, 403px) minmax(100px, 172px);
    grid-template-rows: minmax(70px, 70px);
    overflow: auto;
    scrollbar-width: none;
    margin-top: 10px;
    padding: 0px;
}

.image-text, .nutritional-values-text, .description-text {
    width: 382px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="file"] {
    display: none;
}
.image-preview{
    width: 549px;
    height: 254px;
    display: flex;
    flex-wrap: wrap;
}
.preview-image-container {
    display: inline-block;
    margin-right: 10px;
    position: relative;
}
.preview-image-container img {
    display: block;
    width: 100px;  /* Ensures the image fills the container */
    height: 100px;
}
.delete-preview, .move-left, .move-right {
    position: absolute;
    top: 0;
    right: 0;
    background-color: peru; /* Red with transparency */
    color: #0d0d0d;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items:center;
}
.move-left {
    top: 20%;
    left: 0px;
    font-size: 20px;

}
.move-right {
    top: 20%;
    right: 0px;
    font-size: 20px;
}
.add-image{
    width: 146px;
    height: 49px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items:center;
}
.description, .ingredients{
    width: 575px;
    display:flex;
    flex-direction: column;
}
.ql-toolbar {
    height: 50px;
    display: flex;
    justify-content: center !important ;
    border: 1px solid peru !important;
}

.ql-container {
    width: 575px;
    height: 200px !important;
    font-family: Arial, sans-serif;
    border: 1px solid peru !important;
    color: peru;
    padding: 5px;
}

.add-nutritional-values {
    width: 172px;
    height: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nutritional-value-row {
    display: flex;
    align-items: center;
}

.column {
    width: 200px;
    height: 100%;
    margin: 10px;
    margin-left: 20px;
}

.delete-nutritional-values {
    width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.create-product{
    width: 300px;
    height: 75px;
    cursor: pointer;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #0d0d0d inset;
    -webkit-text-fill-color: peru;
}

::-webkit-scrollbar {
    background-color: #0d0d0d;
}
::-webkit-scrollbar-thumb {
    background: #0d0d0d;
    border: 3px solid peru;
}

.footer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contact-footer{
    display:flex;
    flex-direction: column;
}
.contact-footer p{
    padding: 0px;
    margin: 5px;
    font-weight: bold;
    font-size: 20px;
}

footer {
    margin: 0px;
    margin-top: auto;
    text-align: center;
    border: 1px solid peru;
    background-color: #0d0d0d;
    color: peru;
}