body {
    background: #0d0d0d;
    margin: 0;
    padding: 0;
    display: flex;
}

header {
    width: 15vw;
    height: 100vh;
    position: fixed;
    background: #0d0d0d;
    color: peru;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    border: 1px solid peru;
}

.site-logo {
    width: 200px;
    height: 200px;
    font-weight: bold;
    color: peru;
    text-decoration: none;
    position: relative;
    animation: slideFromTop 2s ease-out forwards;
}

@keyframes slideFromTop {
    0% {
        top: -200px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

.first-header-container {
    width: 230px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid peru;
    gap: 20px;
}

.second-header-container{
    width: 230px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.main-header-link, .header-link {
    color: peru;
    text-decoration: unset;
}

.main-header-link{
    font-size: 35px;
}
.header-link{
    font-size: 30px;
    font-weight: bold;
}

main {
    width: 100vw;
    min-height: 99.9vh;
    margin-left: 15.1vw;
    border-bottom: 1px solid peru;
}
form{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.category-section{
    width: 100%;
    height: 100%;
    margin-left: 5vw;
    margin-bottom: 5vh;
}

.category-name{
    color: peru;
    font-size: 50px;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
}

.product-card {
    height: 600px;
    display: flex;
    flex: 0 0 calc(25%);
    flex-direction: column;
    align-items: center;
    border: 1px solid peru;
    color: peru;
    background: #0d0d0d;
}

.product-image-container{
    width: 90%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.product-link{
    width: 100%;
    height: 100%;
}
.product-image {
    width: 100%;
    height: 100%;
}
.favorite, .favorite-link{
    position:absolute;
    background: transparent;
    margin-top: 10px;
    margin-left: -50px;
    color: peru;
    border: none;
    cursor: pointer;
    overflow:hidden;
    font-size: 30px;
}

.product-title{
    width: 90%;
    height: auto;
    max-height: 20%;
    margin: 0px;
    border-bottom: 1px solid peru;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-size: 30px;
    overflow: hidden;
}

.product-description {
    width: 90%;
    height: 23%;
    margin: 0px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.product-description p{
    margin: 0px;
    font-size: 20px;
    overflow: hidden;
}

.bottom-bar {
    width: 100%;
    height: 10vh;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid peru;
}

.price{
    width:40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-price, .product-price-cut, .product-price-offer {
    font-size: 40px;
}
.product-price-cut{
    text-decoration: line-through;
}

.cart, .cart-link {
    width: 60%;
    height:80%;
    background: #0d0d0d;
    color: peru;
    border: 1px solid peru;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    font-size: 30px;
    margin: 10px;
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #0d0d0d inset;
    -webkit-text-fill-color: peru;
}

::-webkit-scrollbar {
    background-color: #0d0d0d;
}
::-webkit-scrollbar-thumb {
    background: #0d0d0d;
    border: 3px solid peru;
}

.footer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contact-footer{
    display:flex;
    flex-direction: column;
}
.contact-footer p{
    padding: 0px;
    margin: 5px;
    font-weight: bold;
    font-size: 20px;
}

footer {
    margin: 0px;
    margin-top: auto;
    text-align: center;
    border: 1px solid peru;
    background-color: #0d0d0d;
    color: peru;
}