body {
    background: #050505;
    height: 100%;
    margin: 0;
    padding: 0;
}
header {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #050505;
    color: #CE563C;
}

.header-container {
    display: flex;
    align-items: center;
}

.site-name {
    font-weight: bold;
    font-size: 30px;
}

.search-bar {
    flex: 1;
    margin-left: 20px;
    padding: 5px;
    border: 1px solid #CE563C;
}

.header-right {
    display: flex;
    align-items: center;
}

.favorites-link, .cart-link, .account-link {
    font-size: 20px;
    color: #CE563C ;
    font-family:'verdana';
    text-decoration: none;
    display: block;
    margin-left: 10px;
}

main {
    margin: 0 5%;
}

.promotion-slideshow {
    height: 500px;
    width: 100%;
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 102%;
    height: 100%;
    margin: 0 -1px;
}

.slides img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.prev-slide, .next-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 50px;
    color: #333;
    z-index: 1;
}

.prev-slide {
    left: 20px;
}

.next-slide {
    right: 20px;
}

.products-category {
    position: relative;
}

.prev-arrow, .next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 50px;
    color: #333;
    z-index: 1;
    display: block;
}

.prev-arrow {
    left: -50px;
}

.next-arrow {
    right: -50px;
}

.prev-arrow.hidden, .next-arrow.hidden {
    opacity: 0;
}

.category-text{
    font-size: 50px;
    color: #CE563C;
}
.product-grid {
    display: grid;
    color: #CE563C;
    gap: 20px;
    grid-auto-flow: column;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.product-card{
    position: relative;
    background: #141414;
    height: 400px;
    width: 250px ;
}


.product-img {
    width: 90%;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}

.star {
  color: #ccc;
}

.star.filled {
  color: gold;
}

.half-star {
  width: 50%;
}

.half-star.filled {
  color: gold;
}

.product-text {
    font-size: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;

    width: 250px;
}

.bottom-bar {
    position: absolute;
    bottom: 0;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:
}

.product-price {
    font-size: 40px;
    font-weight: bold;
}

.add-to-cart {
    padding: 20px 20px;
    background-color: #FF5733;
    color: #141414;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #050505;
    color: #CE563C;
}