body {
    background: #0d0d0d;
    margin: 0;
    padding: 0;
    display: flex;
}

header {
    width: 15vw;
    height: 100vh;
    position: fixed;
    background: #0d0d0d;
    color: peru;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    border: 1px solid peru;
}

.site-logo {
    width: 200px;
    height: 200px;
    font-weight: bold;
    color: peru;
    text-decoration: none;
    position: relative;
    animation: slideFromTop 2s ease-out forwards;
}

@keyframes slideFromTop {
    0% {
        top: -200px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

.first-header-container {
    width: 230px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid peru;
    gap: 20px;
}

.second-header-container{
    width: 230px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.main-header-link, .header-link {
    color: peru;
    text-decoration: unset;
}

.main-header-link{
    font-size: 35px;
}
.header-link{
    font-size: 30px;
    font-weight: bold;
}
main {
    width: 100vw;
    min-height: 99.9vh;
    margin-left: 15.2vw;
    border-bottom: 1px solid peru;
}
form{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.search-section{
    width: 100%;
    height: 15vh;
}

.title-search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-search h1{
    font-size: 50px;
    color: peru;
    margin: 0px;
}

.search-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    width: 50%;
    height:5vh;
    margin-left: 60px;
    margin-right: 10px;
    border: 1px solid peru;
    background: #0d0d0d;
    color: peru;
    font-size: 30px;
    font-weight: bold;
    font-family: verdana;
}

.search-button{
    width: 5vh;
    height:5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: #0d0d0d;
    color: peru;
    font-size: 40px;
    cursor: pointer;
}

.results-section{
    width: 100%;
    height: 80%;
    margin-bottom: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.results-container{
    width: 50%;
    height:100%;
    display: flex;
    display: flex;
    flex-direction: column;
}

.product-container{
    width: 100%;
    height: 15vh;
    margin-top: 5vh;
    border: 1px solid peru;
    display: flex;
    overflow: hidden;
}

.product-image-container{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-image-link{
    width: 80%;
    height: 80%;
    text-decoration: none;
}

.product-image {
    width: 100%;
    height: 100%;
}

.product-details-container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-link{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 5vh;
    margin-bottom: 10px;
    text-decoration: none;
}
.product-title{
    width: 100%;
    height: 100%;
    margin: 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    color: peru;
    font-size: 30px;
}

.product-description{
    width: 100%;
    margin: 0px;
    margin-bottom: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    color: peru;
    font-size: 20px;
}

.product-description p{
    width: 100%;
    height: 100%;
    margin: 0px;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #0d0d0d inset;
    -webkit-text-fill-color: peru;
}

::-webkit-scrollbar {
    background-color: #0d0d0d;
}
::-webkit-scrollbar-thumb {
    background: #0d0d0d;
    border: 3px solid peru;
}

.footer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contact-footer{
    display:flex;
    flex-direction: column;
}
.contact-footer p{
    padding: 0px;
    margin: 5px;
    font-weight: bold;
    font-size: 20px;
}

footer {
    margin: 0px;
    margin-top: auto;
    text-align: center;
    border: 1px solid peru;
    background-color: #0d0d0d;
    color: peru;
}