body {
    background: #0d0d0d;
    margin: 0;
    padding: 0;
    display: flex;
}

header {
    width: 15vw;
    height: 100vh;
    position: fixed;
    background: #0d0d0d;
    color: peru;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    border: 1px solid peru;
}

.site-logo {
    width: 200px;
    height: 200px;
    font-weight: bold;
    color: peru;
    text-decoration: none;
    position: relative;
    animation: slideFromTop 2s ease-out forwards;
}

@keyframes slideFromTop {
    0% {
        top: -200px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

.first-header-container {
    width: 230px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid peru;
    gap: 20px;
}

.second-header-container{
    width: 230px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.main-header-link, .header-link {
    color: peru;
    text-decoration: unset;
}

.main-header-link{
    font-size: 35px;
}
.header-link{
    font-size: 30px;
    font-weight: bold;
}

main {
    width: 100vw;
    min-height: 300vh;
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    border-bottom: 1px solid peru;
}


.title{
    position: fixed;
    margin-left: 34vw;
    font-size: 80px;
    color: peru;
    z-index: 4;
}

.div-1, .div-2, .div-3{
    position: fixed;
    width: 84.9vw;
    height: 78vh;
    display: flex;
    color: peru;
    margin-left: 0.1vw;
    visibility: hidden;
    overflow: hidden;
}

.div-1{
    visibility: visible;
    z-index: 3;
}
.div-2{
    z-index: 2;
}
.div-3{
    z-index: 1;
}

.div-1-1, .div-1-2, .div-2-1, .div-2-2, .div-3-1, .div-3-2 {
    width: 50%;
    height: 100%;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 0;
}

.div-1-1, .div-2-1, .div-3-1 {
    transform: translateX(-100%);
}
.div-1-2, .div-2-2, .div-3-2 {
    transform: translateX(100%);
}

.div-1.visible .div-1-1,
.div-2.visible .div-2-1,
.div-3.visible .div-3-1 {
    transform: translateX(0);
    opacity: 1;
}

.div-1.visible .div-1-2,
.div-2.visible .div-2-2,
.div-3.visible .div-3-2 {
    transform: translateX(0);
    opacity: 1;
}

.div-1-1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.div-1-2 img{
    width: 100%;
    height: 100%;
}

.div-2-1 img{
    width: 100%;
    height: 100%;
}

.div-2-2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.div-2-2 img{
    width: 400px;
    height: 400px;
}

.div-3-1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.div-3-1 img{
    width: 400px;
    height: 400px;
}

.div-3-2 img{
    width: 100%;
    height: 100%;
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #0d0d0d inset;
    -webkit-text-fill-color: peru;
}

::-webkit-scrollbar {
    background-color: #0d0d0d;
}
::-webkit-scrollbar-thumb {
    background: #0d0d0d;
    border: 3px solid peru;
}

.footer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contact-footer{
    display:flex;
    flex-direction: column;
}
.contact-footer p{
    padding: 0px;
    margin: 5px;
    font-weight: bold;
    font-size: 20px;
}
footer {
    width:81.7vw;
    bottom: 0px;
    margin-left: 0.1vw;
    position: fixed;
    padding: 20px;
    margin-top: auto;
    text-align: center;
    border: 1px solid peru;
    background-color: #0d0d0d;
    color: peru;
}
